#register-box{
   width: 80%;
   height: 80%;
   background-color: aquamarine;
   margin-top: 10%;
   margin-left: 10%;


}
#inner-box{
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.91);
  width: 50%;
  height: 50%;
}