#bid{
   width: 50px;
   height: 50px;
}

#main-head-tag{
   display: flex;
   /* flex-wrap: wrap; */
   justify-content: flex-end;
   /* position: relative; */
   width: 90%;
   margin-left: 5%;
   /* margin-top: 2%; */
   background-color: wheat;
   background-attachment: fixed;
   
}
.container{
   /* position: absolute; */
   text-align: center;
   display: inline-block;
   /* background-color: blue; */
   vertical-align: top;
   padding-left: 2%;
   /* flex: 50%; */
   /* position: absolute; */
  
}

.container span{
   color: black;
   text-transform: uppercase;
   display: block;
   /* width: 50%; */
}
.text1{
   font-size: 6vw;
   font-weight: 800;
   letter-spacing: 4px;
   margin-bottom: 20px;
   animation: text 3s forwards ;
  
}
.text2{
   font-size: 2vw;
   font-weight: 500;
 
}

@keyframes text {
   0% {
      margin-bottom: 5px;
   }
   30%{
      letter-spacing: 5px;
      margin-bottom: 10px;
   }
   100%{
      letter-spacing: 8px;
      margin-bottom: 25px;
   }

}

.circle-start{
   
   position: relative;
   display: inline-block;
   margin-top: 10%;
   margin-right: 10px;
   width: 400px;
   height: 400px;
   /* border-radius: 50%; */
   flex: 50%;
   text-align: center;
   
  

}
#main-start-button{
   color: red;
   width: 300px;
   height: 300px;
}





#information{
   
   position: relative;
   display: block;
   width: 90%;
   margin-left: 5%;
   margin-top: 2%;
   background-color: wheat;
   background-attachment: fixed;
   overflow: hidden;


}
#rectangle-1{
   
   text-align: center;
   font-size: 20px;
   display: inline-block;
   background-color: rgb(20, 128, 223);
   width: 200px;
   height: 250px;
   margin-top: 10%;
   margin-left: 15%;
   margin-bottom: -40px;
   transform: rotate(-10deg);
   box-shadow: 5px 10px 18px red;
}

#rectangle-2{

   color: black;

   
   text-align: center;
   display: inline-block;
   background-color: rgb(79, 194, 79);
   width: 200px;
   height: 250px;
   transform: rotate(10deg);
   box-shadow: 5px 10px 18px red;
   
}
#rectangle-3{
   text-align: center;
   display: inline-block;
   background-color: rgb(187, 189, 84);
   width: 200px;
   height: 250px;
   margin-right: 5px;
   transform: rotate(-10deg);
   box-shadow: 5px 10px 18px red;
}
#rectangle-4{
   text-align: center;
   display: inline-block;
   background-color: rgb(187, 189, 84);
   width: 200px;
   height: 250px;
   margin-right: 5px;
   transform: rotate(10deg);
   box-shadow: 5px 10px 18px red;
}


#information div:hover{
   height: 300px;
   position: relative;
   top: -40px;
}
.icon-image{
  
   width: 60px;
   height: 60px;
   margin-top: 30%;
}


