#condition-card{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    min-width: 5cm;
    max-height: 10cm;
    padding-left: 2%;
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
    height: 40%;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
}
#condition-card header{
    /* margin-left: 2%; */
    margin-top: 2%;
    font-size: 5vh;
}
#condition-card div{
     
    margin: 2%;
    font-size: 3vh;
    font-weight: bolder;


}
#condition-card div span{
     
    margin: 2%;
    font-size: 3vh;
    color: rgb(136, 233, 160);


}
#buttom{
    position: absolute;
    bottom: 0;
    right: 0;
  
    color: rgb(0, 0, 0);
}
#car-img{
    width: 50px;
    height: 50px;
}