<div class="login-box">
    <h2>Feedback</h2>
    <form action="/feedback/data" method="POST">
      <div class="user-box">
        <input type="text" name="name" >
        <label>Name</label>
      </div>
      <div class="user-box">
        <input type="text" name="like" required="">
        <label>How Much Website do you Like</label>
      </div>
      <div class="user-box">
        <input type="text" name="suggestion" required="">
        <label>What More Feature you want to add</label>
      </div>
      <div class="user-box">
        <input type="text" name="request" required="">
        <label>Your Request</label>
      </div>
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
  </div>