<marquee  direction="right" >
  <h2 style="color: red;">Website for Small Screen will be launch soon</h2>
  <h2 style="color: red;">For Better Experince use at least 800 X 1300 Screen Resolution</h2>
</marquee>
<div id="main-head-tag">

  <div class="container"> 
     <span class="text1">
        Live Auction
     </span>
    <span class="text2">
       With Trust and Faith 
    </span>
  </div> 

  <div class="circle-start">
    

   <a href="/selling"><img src="https://cdn-icons.flaticon.com/png/512/5558/premium/5558172.png?token=exp=1652692794~hmac=8f6d24876f16d6334aea9903b2721e41" alt="hhh" id="main-start-button"></a>

  
  </div>

</div> 







<div id="information">
    
     <a href="/working">
       <div id="rectangle-1">
          
          <img src="https://cdn-icons-png.flaticon.com/512/1283/1283280.png" alt="" class="icon-image"><br>
          How its Work <br>
       </div>
      </a>
      <a href="/sing-up">
       <div id="rectangle-2">
         
           <img src="https://cdn-icons-png.flaticon.com/512/1828/1828506.png" alt="" class="icon-image"><br>
           Register Your 
           Product <br>
          </div>
    </a>
    <a href="">
       <div id="rectangle-3">
       
         <img src="https://cdn-icons-png.flaticon.com/512/1458/1458279.png" alt="" class="icon-image"><br>
         Term-Conditions <br>
      </div>
    </a>
    <a href="/feedback">
      <div id="rectangle-4">
   
        <img src="https://cdn-icons.flaticon.com/png/512/2839/premium/2839162.png?token=exp=1655487302~hmac=fa6ee5e25b2e4c3336023fd998b8b229" alt="" class="icon-image"><br>
        Feedback <br>
      </div>
    </a>  


</div>


<div id="">

</div>

