<marquee  direction="right" >
  <h2 style="color: red;">Website for Small Screen will be launch soon</h2>
  <h2 style="color: red;">For Better Experince use at least 800 X 1300 Screen Resolution</h2>
</marquee>
<div id="main-head-tag">

  <div class="container"> 
     <span class="text1">
        Live Auction
     </span>
    <span class="text2">
       With Trust and Faith 
    </span>
  </div> 

  <div class="circle-start">
    

   <a href="/selling"><img src="https://img.icons8.com/nolan/344/start.png" alt="Start" id="main-start-button"></a>

  
  </div>

</div> 







<div id="information">
    
     <a href="/working">
       <div id="rectangle-1">
          
          <img src="https://cdn-icons-png.flaticon.com/512/1283/1283280.png" alt="" class="icon-image"><br>
          How its Work <br>
       </div>
      </a>
      <a href="/sing-up">
       <div id="rectangle-2">
         
           <img src="https://cdn-icons-png.flaticon.com/512/1828/1828506.png" alt="" class="icon-image"><br>
           Register Your 
           Product <br>
          </div>
    </a>
    <a href="">
       <div id="rectangle-3">
       
         <img src="https://cdn-icons-png.flaticon.com/512/1458/1458279.png" alt="" class="icon-image"><br>
         Term-Conditions <br>
      </div>
    </a>
    <a href="/feedback">
      <div id="rectangle-4">
   
        <img src="https://img.icons8.com/external-fauzidea-gradient-fauzidea/344/external-feedback-online-learning-fauzidea-gradient-fauzidea.png" alt="" class="icon-image"><br>
        Feedback <br>
      </div>
    </a>  


</div>


<div id="">

</div>

