<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/singup.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/working.css"> 
<link rel="stylesheet" href="/css/selling.css">
 <link rel="stylesheet" href="/css/mainsell.css"> 
 <link rel="stylesheet" href="/css/productreg.css"> 
 <link rel="stylesheet" href="/css/t&c.css">
 <link rel="stylesheet" href="/css/eachproduct.css"> 
 <link rel="stylesheet" href="/css/userdetail.css"> 
<link rel="stylesheet" href="/css/chatbox.css">
<link rel="stylesheet" href="/css/yourproduct.css">
<link rel="stylesheet" href="/css/feedback.css">

<link rel="icon" type="image/x-icon" href="/img/favic.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-3.6.0.js"
integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<body>
    
   

    <%- body %>

  



</body>


<script src="/js/product-registration.js"></script>
<script type="text/javascript" src="/js/vanilla-tilt.js"></script>
<script type="text/javascript">
	VanillaTilt.init(document.querySelector(".glass"), {
		max: 25,
		speed: 400
	});
	
	
	
</script>
<script src="/js/screen.js"></script>
<script src="/js/index.js"></script>