<div>

      <div id="triangle-1">

      </div>
 
   <div id="application-form">
      <div id="circle-1">
        
            
      </div>
      <form action="/new-account" method="POST" id="form">
          
         <input type="text" name="username" placeholder="Enter Your UserName" required>
         <input type="email" name="useremail" placeholder="Enter Your Email" required>
         <input type="text" name="professional" placeholder="Enter Your Professional" required>
         <input type="password" name="password" minlength="6" placeholder="Create New Password" required>
         <input type="password" name="repassword" placeholder="Re-enter Password" required>
         <button type="submit" id="button"> Sing-up</button>

      </form>

      <div id="circle-2">
         <a href="log-in">
            <img src="https://cdn-icons-png.flaticon.com/512/2250/2250142.png" class="icon-image" alt="">
         </a>

      </div>


  
  
   </div>
      <div id="t-2">
     
       </div>
  

</div>